/* Global styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}
/* Common Styles */
.btn{
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    transition: 0.5s;
}
.btn:hover{
    opacity: 0.7;
}
.btn-color{
    background: #E55473;
    color: white;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

/* Header Section Styles */
#heading-section{
    background: #E554731A;
    height: 100vh;
}
.heading-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 170px;
    padding-top: 50px;
}
/* .content-area{} */
.content-area h1{
    font-size: 52px;
    text-align: left;
}
.content-area p{
    padding: 32px 0px;
    text-align: left;
}

.header-img img{
    max-height: 585px; 
}

/* Main Section Styles */
.main-section{
    /* margin-top: 100px; */
}

/* Counter styles section */
.counter-section{
    background: #111010;
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 50px;
}
.counter-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.counter-box{
    border-right: 2px solid lightgray;
    padding-right: 70px;
    text-align: center;
}
.counter-box:last-child{
    padding-right: none;
    border: none;
}
.counter-box h2{
    font-size: 40px;
}
.counter-box p{}
/* Image gallery styles*/
.gallery-section{
    width: 80%;
    margin: auto;
}
.text-section p{
    text-align: center;
    padding: 30px 0px;
}
.img-gallery{
    display: flex;
    justify-content: space-around;
}
.img-box{
    width: 350px;
}
.img-box a{
    text-align: center;
    display: block;
    color: #272727;
    margin-top: 32px;
    font-weight: 700;
}
.round-img-box{
    border-radius: 200px 200px 0px 0px;
    padding: 30px 30px 0px 30px;
    display: flex;
    vertical-align: center;
    margin-right: 20px;
    background: rgba(167, 33, 98, 0.15);
    height: 370px;
}
.round-img-box img{
    width: 90%;
    height: 299px;
    margin-top: 70px;
}

/* Our support section styles*/
.our-support-section{
    margin: 100px 0px;
}
.support-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.support-box{
    padding: 40px;
}


/* Offer section styles */
.offer-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-bottom: 80px;
    padding-top: 80px;
    margin-top: 80px;
}
.offer-section-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.offer-section-left{
    width: 50%;
}
.offer-section-left h2, p{
    text-align: center;
    padding-bottom: 30px;
}
.offer-section-left button{
    display: block;
    margin: 0 auto;
}
.text-color{
    color: #E55473;
}


/* Instagram section styles */
.instagram-section{
    margin: 100px 0px;
}
.instagram-container{
    width: 80%;
    margin: 0 auto;
}
.insta-img-gallery{
    display: flex;
    justify-content: space-around;
}
.insta-img-gallery img{
    width: 25%;
    margin-left: 20px;
    transition: 0.5s;
}
.insta-img-gallery img:hover{
    opacity: 0.7;
}

/* Coupon offer section styles */
.coupon-offer-section{
    padding-bottom: 100px;
}
.coupon-container{
    width: 80%;
    margin: 0 auto;
    background: url('../images/Rectangle 9.png');
    padding-bottom: 100px;
    padding-top: 100px;
    border-radius: 8px;

}
.coupon-container p{
    padding: 30px 0px 40px;
}
.coupon-container form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.coupon-container input{
    border: none;
    width: 600px;
    height: 64px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 8px;
}

/* Footer section styles */
.footer-section{
    padding: 50px 0px;
    background: #111010;
    color: rgba(255, 255, 255, 0.90);
}
.footer-container{
    width: 40%;
    margin: 0 auto;
}
.footer-container h2{
    color: white;
    padding-bottom: 20px;
}
