/* Global styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}
/* Common Styles */
.btn{
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}
.btn-color{
    background: #E55473;
    color: white;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

/* Header Section Styles */
#heading-section{
    background: #E554731A;
}
.heading-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 200px;
    padding-top: 50px;
}
/* .content-area{} */
.content-area h1{
    font-size: 80px;
    text-align: left;
}
.content-area p{
    padding: 32px 0px;
}

/* Main Section Styles */


/* Footer section styles */